<html>
    <head>
            <title>Chi tiết người dùng</title>
            <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
      <link rel='stylesheet' href='/css/style.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="/fleditor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/fleditor/js/froala_editor.pkgd.min.js"></script>
    <link href="/fleditor/css/froala_style.min.css" rel="stylesheet" type="text/css" />    
    <script type="text/javascript" src="/fleditor/js/languages/vi.js"></script>
    <script type="text/javascript" src="/fleditor/js/plugins/image.min.js"></script>
    </head>
    <body>
            <div class="container-fluid">
                    <div id="dieuhuong_admin" class="col-md-2" style="background-color: teal;height: 100%">
                        <h4 style="float:none">Admin Dashboard</h4>
                        <ul>
                            <li><a href="/admin/dashboard"><i class="fas fa-user"></i>   Tài khoản người dùng</a></li>
                            <li><a href="/admin/baiviet_nd"><i class="fas fa-sticky-note"></i>    Bài viết người dùng</a></li>
                            <li><a href="/admin/chude_db"><i class="fas fa-biohazard"></i>    Chủ đề bài viết</a></li>
                            <li><a href="/admin/phanquyen_db"><i class="fas fa-level-up-alt"></i>    Phân quyền chức vụ</a></li>
                            <li><a href="/admin/hopthu"><i class="fa fa-envelope"></i>    Hộp thư tiếp nhận</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                            <div class="tool-box-1" style="width: 100%;">
                                <button class="turn-b"type="button"><i class="fas fa-arrow-left"></i></button>
                                <button id="<%= TT_ND.id %>" class="xoa" type="button"><i class="fa fa-trash"></i></button>
                                <% if(TT_ND.trangthai == 1){ %>
                                  <button id="<%= TT_ND.id %>" class="goban_nd" type="button"><i style="color: red" class="fas fa-ban"></i></button>
                                  <% } else { %>
                                <button id="<%= TT_ND.id %>" class="ban_nd" type="button"><i class="fas fa-ban"></i></button>
                                <% if(TT_ND.trangthai == 2){ %>
                                  <button id="<%= TT_ND.id %>" class="bodecu_nd"><i style="color: yellow" class="fas fa-medal"></i></button>
                                <% } else { %>
                                  <button id="<%= TT_ND.id %>" class="decu_nd"><i class="fas fa-medal"></i></button>
                                  <% } %>
                                <form action="../post_decu/<%= TT_ND.id %>" method="POST" id="form-decu" class="form-group" enctype="application/x-www-form-urlencoded" hidden>
                                  <h5><strong>Đề cử người dùng</strong></h5>
                                  <select name="vitri" class="form-control" style="width: 30%">
                                    <option>Chọn vị trí đề cử</option>
                                    <option value="1">Chuyên viết bài</option>
                                    <option value="2">Kiểm duyệt viên</option>
                                  </select>
                                  <input value="<%= TT_AD.id %>" name="admin" style="display: none">
                                  <input style="margin-top: 10px" type="submit" value="Xác nhận">
                                </form>
                            <% } %>
                            </div>
                            <div class="thongtin-nd" style="border-left: cadetblue 5px solid;padding-left: 10px">
                                <h5>Thông tin người dùng đăng ký</h5>
                                <div class="col-sm-3">
                                    <img src="/img/<%= TT_ND.avatar %>" style="object-fit: cover;width:200px;height:200px;border-radius: 50%">
                                </div>
                                <div class="col-sm-3">
                                <p><strong>Tên đăng nhập: </strong>  <%= TT_ND.ten_dn %></p>
                                <p><strong>Họ tên: </strong> <%= TT_ND.hoten %></p>
                                <p><strong>Ngày sinh: </strong> <%= TT_ND.ngaysinh.toDateString() %></p>
                                <% if(TT_ND.gioitinh == 0) { %>
                                <p><strong>Giới tính: </strong> Nam</p>
                                <% } else { %>
                                <p><strong>Giới tính: </strong> Nữ</p>
                                <% } %>   
                            </div>
                            <div class="col-sm-5">
                                <p><strong>Địa chỉ: </strong> <%= TT_ND.diachi %></p>
                                <p><strong>SĐT: </strong> <%= TT_ND.sdt %></p>
                                <p><strong>Mô tả: </strong> <%= TT_ND.about %></p>
                                <% if(TT_ND.trangthai == null) { %>
                                <p><strong>Trạng thái: </strong> Bình thường</p>
                                <% } else if(TT_ND.trangthai == 1) { %>
                                    <p><strong>Trạng thái: </strong> Bị chặn</p>
                                    <% } else if(TT_ND.trangthai == 2) { %>
                                        <p><strong>Trạng thái: </strong> Đề cử</p>
                                        <% } %>
                            </div>
                            <div class="col-sm-6">
                            <h5><strong>Đã tham gia Forum</strong> vào <i> <%= TT_ND.created_at %></i></h5>
                            <div class="tt_nd_bv" style="width: 100%;margin-top: 50px">
                                <!-- <div class="col-sm-2"> -->
                                    <p style="float: left"><strong><i class="fas fa-book"></i> Tổng bài viết: </strong> <%= TT_ND.tong_bv %></p>
                                    <p style="float: left"><strong><i class="fas fa-thumbs-up"></i> Đã được xét:</strong> <%= TT_ND.daxet %></p>
                                    <p style="float: left"><strong><i class="fas fa-check"></i> Thông qua: </strong> <%= TT_ND.thongqua %></p>
                                    <p style="float: left"><strong><i class="fas fa-window-close"></i> Từ chối: </strong> <%= TT_ND.tuchoi %></p>
                                <!-- </div> -->
                        </div>
                        </div>
                        <div class="col-sm-3" style="background-color: red;border-radius: 10px">
                            <h4 style="float: none;text-align: center;margin: 10px 10px"><strong style="color: white"><i style="color: yellow" class="fas fa-star"></i> Điểm bài viết</strong></h4>
                            <% if(TT_ND.daxet != 0) { %>
                            <h2 style="text-align: center;background-color: white;padding: 10px;border-radius: 10px"><strong><%= Number((TT_ND.thongqua / TT_ND.daxet).toFixed(1)) %></strong></h2>
                                <% } else { %>
                                    <h2 style="text-align: center;background-color: white;padding: 10px;border-radius: 10px"><strong>NaN</strong></h2>
                                    <% } %>
                        </div>    
                        </div>
                        </div>
                        <div class="col-md-10" style="border-top: thistle 2px solid;margin-top: 10px">
                            <h5><strong>Các bài viết đã được xét</strong></h5>
                            <select id="loc_bv" class="form-control" style="float: right; width:30%;margin-bottom: 10px;">
                                    <option value="reload">Lọc theo đánh giá</option>
                                    <option value="0">Thông qua</option>
                                    <option value="1">Từ chối</option>
                                </select>
                            <div style="overflow:scroll;height:345px;width:100%;overflow:auto;background-color: whitesmoke">
                            
                                <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Nội dung</th>
                                        <th>Trích dẫn</th>
                                        <th>Keyword</th>
                                        <th>Chủ đề</th>
                                        <th>Đánh giá</th>
                                        <th>Ngày đăng</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="test_loc">
                                    <% var n = 1; %>
                                    <% BAIVIET.forEach(function(data){ %>
                                    <tr>
                                        <td style="text-align: center"><%= n++ %></td>
                                        <td><%= data.tieude %></td>
                                        <td><%= data.noidung.substring(0,20) %>...</td>
                                        <td><%= data.trichdan %></td>
                                        <td><%= data.keyword %></td>
                                        <td><%= data.ten_cd %></td>
                                        <% if(data.restrict_area == 0) { %>
                                        <td style="text-align: center;background-color: yellowgreen"><strong style="color: white">Thông qua</strong></td>
                                        <% } else { %>
                                            <td style="text-align: center;background-color: tomato"><strong style="color: white">Từ chối</strong></td>
                                            <% } %>
                                            <td><%= data.created_at.toDateString() %></td>
                                            <td style="text-align: center"><button id="<%= data.id %>" type="button"><i style="font-size: 19px" class="fas fa-eye"></i></button></td>
                                            <td style="text-align: center"><button id="<%= data.id %>" type="button"><i style="font-size: 19px" class="fa fa-trash"></i></button></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            
                            </div>
                            <div class="col-md-4">
                            <h5><strong>Thông số bài viết</strong></h5>
                            <div id="doughnutChart" class="chart"></div>
                        </div>
                        <div class="col-md-3" style="margin-top: 10px;border-right: sienna 1px solid">
                            <p><strong style="font-size: 30px; color: #2C3E50">&#9632;</strong> Anime: <strong> <%= THONGSO.anime %></strong></p>
                            <p><strong style="font-size: 30px; color: #FC4349">&#9632;</strong> History: <strong> <%= THONGSO.history %></strong></p>
                            <p><strong style="font-size: 30px; color: #6DBCDB">&#9632;</strong> Music: <strong> <%= THONGSO.music %></strong></p>
                            <p style="font-size: 25px">Tổng số: <strong><%= TT_ND.tong_bv %></strong></p>
                        </div>
                        <div class="col-md-5" style="margin-top:10px">
                            <% var anime = parseFloat(THONGSO.anime); var history = parseFloat(THONGSO.history); var music = parseFloat(THONGSO.music) %>
                            <p><strong>Chủ đề người dùng quan tâm nhất</strong></p>
                            <% if( anime > history && anime > music) { %>
                                <div class="img__wrap">
                                        <img class="center-cropped" src="/img/test_5.jpg">
                                        <a href="../chude_db"><p class="img__description">Tới quản lý chủ đề</p></a>
                                      </div>
                                     
                                <% } else if( history > anime && history > music) { %>
                                    <div class="img__wrap">
                                            <img class="center-cropped" src="">
                                            <a href="../chude_db"><p class="img__description">Tới quản lý chủ đề</p></a>
                                          </div>

                                    
                                    <% } else if(music > anime && music > anime) { %>
                                        <div class="img__wrap">
                                                <img class="center-cropped" src="">
                                                <a href="../chude_db"><p class="img__description">Tới quản lý chủ đề</p></a>
                                              </div>
                                       
                                        <% } else { %>
                                            <p><strong>Chưa xác định</strong></p>
                                            <% } %>
                                            <% if(TT_ND.trangthai == 2){ %>
                                              <p style="margin-top: 10px">Xem xét đề cử <strong>Chuyên viết bài  <button id="<%= TT_ND.id %>" class="godecu_nd"><i style="color: yellow;padding: 5px 10px;font-size: 19px" class="fas fa-medal"></i></button></strong></p>
                                              <%  } else { %>
                                                <p style="margin-top: 10px">Xem xét đề cử <strong>Chuyên viết bài  <button id="<%= TT_ND.id %>" class="decu_nd"><i style="padding: 5px 10px;font-size: 19px" class="fas fa-medal"></i></button></strong></p>
                                                <% } %>
                                          </div>
                        </div>
                        <div class="col-md-2" style="background-color: lightseagreen ">
                            <h5><strong>Người dùng trong Forum</strong></h5>
                            <% if(TT_ND.ten_gr == 'Admin'){ %>
                            <p><strong>Chức vụ: </strong> Quản trị viên </p>
                            <% } else if(TT_ND.ten_gr == 'Kiểm duyệt viên'){ %>
                                <p><strong>Chức vụ: </strong> Kiểm duyệt viên </p>
                                <% } else if(TT_ND.ten_gr == 'Chuyên viết bài') { %>
                                    <p><strong>Chức vụ: </strong> Chuyên viết bài </p>
                                    <% } else { %>
                                        <p><strong>Chức vụ: </strong> Người dùng </p>
                                        <% } %>
                        </div>
                        <div class="col-md-10" style="border-top: hotpink 2px solid;margin-top: 10px">
                            <h5><strong>Hoạt động Vote bài</strong></h5>
                            <div class="col-md-6" style="border-right: indigo 1px solid">
                                <p><strong style="font-size: 17px;">&#9650;</strong> Lượt vote UP</p>
                                <div style="overflow:scroll;height:200px;width:100%;overflow:auto;background-color: whitesmoke">
                                <% VOTE.forEach(function(data){ %>
                                    <% if(data.loaivote == 0) { %>
                                        <div class="voteup">
                                        <p><i class="fas fa-user"></i> - <strong style="font-size:17px;color: green">  &#9650;</strong> <i class="fas fa-arrow-alt-circle-right"></i> - <strong><i class="fas fa-sticky-note"></i> <%= data.tieude %></strong> | <%= data.noidung.substring(0,20) %>...</p>
                                        <p>vào <i style="font-size: 12px"><%= data.created_at %></i></p>
                                    </div>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p><strong style="font-size: 17px;">&#9660;</strong> Lượt vote DOWN</p>
                                <div style="overflow:scroll;height:200px;width:100%;overflow:auto;background-color: whitesmoke">
                                    <% VOTE.forEach(function(data){ %>
                                        <% if(data.loaivote == 1) { %>
                                            <div class="votedown">
                                            <p><i class="fas fa-user"></i> - <strong style="font-size:17px;color: red">  &#9660;</strong> <i class="fas fa-arrow-alt-circle-right"></i> - <strong><i class="fas fa-sticky-note"></i> <%= data.tieude %></strong> | <%= data.noidung.substring(0,20) %>...</p>
                                            <p>vào <i style="font-size: 12px"><%= data.created_at %></i></p>
                                        </div>
                                            <% } %>
                                        <% }) %>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="background-color: #6DBCDB">
                            <h5><strong>Bình luận bài viết</strong></h5>
                        </div>
                        <div class="col-md-10" style="margin-top: 10px;border-top: slategray 2px solid">
                            <h5><strong>Hoạt động bình luận</strong></h5>
                                <div class="col-md-6" style="border-right: indigo 1px solid">
                                        <p><strong style="font-size: 17px;"><i class="fas fa-comments"></i></strong> Bình luận bài viết</p>
                                        <div style="overflow:scroll;height:200px;width:100%;overflow:auto;background-color: whitesmoke">
                                        <% CMT.forEach(function(data){ %>
                                            <div class="voteup">
                                                <p><i class="fas fa-user"></i> - <strong style="color: crimson"><i class="fas fa-comments"></i></strong> <%= data.noidung.substring(0,100) %>... <i class="fas fa-arrow-alt-circle-right"></i>  - <strong><i class="fas fa-sticky-note"></i> <%= data.tieude %></strong></p>
                                                <p>vào <i style="font-size: 12px"><%= data.created_at %></i></p>
                                            </div>
                                                
                                            <% }) %>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                            <p><strong style="font-size: 17px;"><i class="fas fa-reply"></i></strong> Bình luận trả lời</p>
                                            <div style="overflow:scroll;height:200px;width:100%;overflow:auto;background-color: whitesmoke">
                                            <% CMT_CMT.forEach(function(data){ %>
                                                <div class="voteup">
                                                    <p><i class="fas fa-user"></i> - <strong style="color: crimson"><i class="fas fa-comments"></i></strong> <%= data.noidung.substring(0,100) %>... <i class="fas fa-arrow-alt-circle-right"></i>  - <strong style="color: deepskyblue"><i class="fas fa-comments"></i></strong> <%= data.noidung_cmt.substring(0,100) %>...</strong></p>
                                                    <p>vào <i style="font-size: 12px"><%= data.created_at %></i></p>
                                                </div>
                                                    
                                                <% }) %>
                                            </div>
                                        </div>
                        </div>
                        <div class="col-md-2" style="background-color: forestgreen ">
                            <h5><strong>Theo dõi chủ đề, người dùng</strong></h5>
                        </div>
                        <div class="col-md-10" style="border-top: darkolivegreen 2px solid;margin-top: 10px">
                            <h5><strong>Hoạt động theo dõi</strong></h5>
                            <div class="col-md-6">
                                    <p><strong style="font-size: 17px;"><i class="fas fa-plus"></i></strong> Theo dõi chủ đề</p>
                                    <div style="overflow:scroll;height:200px;width:100%;overflow:auto;background-color: whitesmoke">
                                    <% CHUDE.forEach(function(data){ %>
                                        <div class="voteup">
                                            <p style="margin-top: 5px;"><i class="fas fa-user"></i> - <strong style="border-radius: 5px;color: white;font-size: 13px;padding:5px;background-color:#FC4349"><i class="fas fa-plus"></i> Following </strong> - <strong> <%= data.ten_cd %> </strong></p>
                                            <div class="center-cropped1" 
                                            style="background-image: url('/img/<%= data.wall_pic %>');">
                                            </div>
                                        <p style="margin-top: 10px;">Vào <i> <%= data.created_at %> </i></p>
                                            </div> 
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p><strong style="font-size: 17px;"><i class="fas fa-user-plus"></i></strong> Theo dõi người dùng</p>
                                    <div style="overflow:scroll;height:200px;width:100%;overflow:auto;background-color: whitesmoke">
                                      <% FLND.forEach(function(data){ %>  
                                      <div class="voteup">
                                          <p style="margin-top: 5px;"><i class="fas fa-user"></i> - <strong style="border-radius: 5px;color: white;font-size: 13px;padding:5px;background-color:#FC4349"><i class="fas fa-user-plus"></i> Following </strong> - <strong> <%= data.hoten %> </strong></p>
                                          <p>Vào <i> <%= data.created_at %> </i></p>
                                      </div>
                                        <% }) %>
                                      </div>
                                    </div>
                        </div>
                        <div class="col-md-2" style="background-color: darksalmon">
                            <h5><strong>Kết nối người dùng</strong></h5>
                        </div>
                        <div class="col-md-10" style="border-top: firebrick 2px solid;margin-top:10px">
                          <p style="margin-top: 10px"strong style="font-size: 17px;"><i class="fas fa-user-friends"></i></strong> Những người dùng cùng kết nối</p>
                                    <div style="overflow:scroll;height:200px;width:100%;overflow:auto;background-color: whitesmoke">
                                      <% CON_ND.forEach(function(data){ %>
                                        <div class="col-sm-3" style="margin-top: 10px">
                                            <a href="../xemchitiet/<%= data.id %>"> <img src="/img/<%= data.avatar %>" style="object-fit: cover;width:147px;height:150px;border-radius: 50%;display: block;margin-left: auto;margin-right: auto;"></a> 
                                            <a href="../xemchitiet/<%= data.id %>"><p style="margin-top: 10px;text-align:center"> <strong> <%= data.hoten %> </strong> </p></a>
                                            <p style="font-size: 12px">Vào <%= data.created_at %> </p>
                                        </div>
                                        <% }) %>
                                    </div>
                         
                        </div>
                        <div class="col-md-2" style="background-color: lightsalmon">
                          <h5><strong>Thông số cộng đồng</strong></h5>
                        </div>
                        <div class="col-md-10" style="border-top: indianred 2px solid; margin-top: 10px">
                          <div class="col-sm-4">  
                          <div id="pieChart" class="chart1">
                              <h5><strong>Thông số các hoạt động trong cộng đồng</strong></h5>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <% var baidang = parseFloat(THONGSO_ND.baidang) %>
                            <% var luotvote = parseFloat(THONGSO_ND.luotvote) %>
                            <% var luotcmt = parseFloat(THONGSO_ND.luotcmt) %>
                            <% var luotcmt_cmt = parseFloat(THONGSO_ND.luotcmt_cmt) %>
                            <% var folow_chude = parseFloat(THONGSO_ND.folow_chude) %>
                            <% var folow_users = parseFloat(THONGSO_ND.folow_users) %>
                            <% var rp_bv = parseFloat(THONGSO_ND.rp_bv) %>
                            <% var birp = parseFloat(THONGSO_ND.birp) %>

                          <div class="content-chart" style="margin-top: 30px;">
                            <p><strong style="font-size: 20px;color:#2C3E50">&#9632;</strong><strong>  Đăng bài: </strong><%= baidang %></p>
                            <p><strong style="font-size: 20px;color:#fe4400">  &#9632;</strong> <strong>  Vote:</strong> <%= luotvote %></p>
                            <p><strong style="font-size: 20px;color:#018ab6"> &#9632;</strong> <strong>  Bình luận: </strong><%= luotcmt + luotcmt_cmt %></p>
                            <p><strong style="font-size: 20px;color: #fff100">  &#9632; </strong><strong> Theo dõi:</strong> <%= folow_chude + folow_users %> </p>
                            <p><strong style="font-size: 20px;color:#D7DADB">  &#9632; </strong><strong>  bị report bài đăng: </strong><%= rp_bv %> </p>
                            <p><strong style="font-size: 20px;color:#ff33cc">  &#9632; </strong> <strong>  bị report người dùng:</strong> <%= birp %> </p>
                          </div>
                            <input id="baidang" value="<%= baidang %>" hidden>
                            <input id="luotvote" value="<%= luotvote %>" hidden>
                            <input id="luotcmt" value="<%= luotcmt + luotcmt_cmt %>" hidden>
                            <input id="folow" value="<%= folow_chude + folow_users %>" hidden>
                            <input id="rp_bv" value="<%= rp_bv %>" hidden>
                            <input id="birp" value="<%= birp %>" hidden>
                          </div>
                          <div class="col-md-5" style="text-align: center">
                            <h4 style="background-color: thistle;padding:10px"><strong style="color: yellow"><i class="fas fa-star"></i></strong><strong> Điểm cộng đồng</strong></h4>
                            
                              <h2 style="background-color: palevioletred;padding: 5px"><strong style="background-color: white;padding: 10px 20px;"> <%= baidang*3 + luotvote*1 + (luotcmt + luotcmt_cmt)*1 + (folow_chude + folow_users)*1 - rp_bv*3 - birp*10 %></strong></h2>
                            <img src="/img/coyome.png" alt="logo" style="width: 50%;height:27%;">
                          </div>
                        </div>
                        <div class="col-sm-2" style="background-color: plum">
                          <h5><strong>Nhật ký hoạt động chức vụ</strong></h5>
                        </div>
                        <div class="col-sm-10" style="border-top: rebeccapurple 2px solid; margin-top:10px">  
                          <p style="margin-top: 10px"><strong>Chức vụ: </strong> <%= TT_ND.ten_gr %></p>
                          <% if(TT_ND.ten_gr == 'Admin') { %>

                            <% } else if(TT_ND.ten_gr == 'Kiểm duyệt viên') { %>
                          <div class="col-sm-6">
                            <p><strong><i style="font-size: 19px;" class="fab fa-avianex"></i> Duyệt bài</strong></p>  
                          <div style="overflow:scroll;height:200px;width:100%;overflow:auto;background-color: whitesmoke">
                              <% DUYETBAI.forEach(function(data){ %>  
                                <div class="voteup">
                                  <% if(data.restrict_area == 0){ %>
                                    <p style="margin-top: 5px;"><i class="fas fa-user"></i> -  <strong style="background-color: forestgreen;padding: 5px 10px"> <i style="font-size: 15px;color:white" class="fas fa-check"></i></strong> - <i class="fas fa-sticky-note"></i> <strong> <%= data.tieude %> </strong> - <%= data.noidung.substring(0,50) %>...</p>
                                    <% } else { %>
                                      <p style="margin-top: 5px;"><i class="fas fa-user"></i> -  <strong style="background-color: #fe4400;padding: 5px 10px"><i style="font-size: 15px;color:white" class="fas fa-ban"></i></strong> - <i class="fas fa-sticky-note"></i> <strong> <%= data.tieude %> </strong> - <%= data.noidung.substring(0,50) %>...</p>
                                      <% } %>
                                </div>
                                  <% }) %>
                          </div>    
                          </div>
                          <div class="col-sm-6">
                            <p><strong><i style="font-size: 19px;" class="fas fa-reply"></i> Hoạt động thư</strong></p>  
                          <p><strong> <i class="fas fa-user"></i> - <i style="font-size: 17px;color:crimson" class="fas fa-arrow-alt-circle-down"></i>  -  <i class="fas fa-envelope"></i></strong><strong> Thư trả lời báo cáo bài viết: </strong> <%= THUREP.rpbv %></p> 
                          <p><strong> <i class="fas fa-user"></i> - <i style="font-size: 17px;color:crimson" class="fas fa-arrow-alt-circle-down"></i>  -  <i class="fas fa-envelope"></i></strong><strong> Thư trả lời báo cáo người dùng: </strong> <%= THUREP.rpnd %></p>   
                          <p><strong> <i class="fas fa-user"></i> - <i style="font-size: 17px;color:crimson" class="fas fa-arrow-alt-circle-down"></i>  -  <i class="fas fa-envelope"></i></strong><strong> Thư trả lời yêu cầu người dùng: </strong> <%= THUREP.req %></p>
                          <p><strong> <i class="fas fa-user"></i> - <i style="font-size: 17px;color: forestgreen" class="fas fa-arrow-alt-circle-up"></i>  -  <i class="fas fa-envelope"></i></strong><strong> Thư trả lời báo cáo bài viết: </strong> <%= THUREP.rpbv %></p>   
                          <p><strong> <i class="fas fa-user"></i> - <i style="font-size: 17px;color:forestgreen" class="fas fa-arrow-alt-circle-up"></i>  -  <i class="fas fa-envelope"></i></strong><strong> Thư trả lời báo cáo bài viết: </strong> <%= THUREP.rpbv %></p>        
                          </div>
                          <% } else if(TT_ND.ten_gr == 'Chuyên viết bài') { %>
                            <h5><strong>Người dùng không có tác động hệ thống</strong></h5>
                            <% } else { %>
                              <h5><strong>Người dùng không có tác động hệ thống</strong></h5>
                              <% } %>
                        </div>
                </div>
                <input id="id_nd" value="<%= TT_ND.id %>" hidden>
                <input id="anime" value="<%= THONGSO.anime %>" hidden>
                <input id="history" value="<%= THONGSO.history %>" hidden>
                <input id="music" value="<%= THONGSO.music %>" hidden>
    </body>
    <script>
    $(document).on('click','.decu_nd',function(){
      idnd = $(this).attr('id');
      // alert(idnd);
      $('#form-decu').toggle();
    })

    $(document).on('click','.bodecu_nd',function(){
      var idnd = $(this).attr('id');
      if(confirm('Bạn chắc muốn bỏ đề cử người dùng này ?')){
        $.get('../ajax_admin/bo_decu/'+idnd, function(){

        })
        alert('Đã bỏ đề cử người dùng');
        window.location.reload();
      }
    });

    $(document).on('change','#loc_bv',function(){
        var loai_dg = $(this).val();
        var id_nd = $('#id_nd').val();
        // alert(id_nd);
        if(loai_dg == 'reload'){
            window.location.reload(false);
        }
        else{
        $.get("../ajax_admin/"+id_nd+"/filter_nd_bv/"+loai_dg,function(data){
            
            var showFilter = $('#test_loc');
            showFilter.html(data);
        });
    }
    });

    $(document).on('click','.ban_nd',function(){
      var id_nd = $(this).attr('id');
      $.get()
    })

    $(document).on('click','.xoa',function(){
      var id_nd = $(this).attr('id');
      // alert(id_nd);
      if(confirm('Bạn chắc chắn muốn xóa người dùng ?')){
      $.get('../ajax_admin/xoand_chitiet/'+id_nd,function(){

      })
      alert('Đã xóa người dùng');
      window.location.reload(false);
    }
    });

    $(document).on('click','.turn-b',function(){
      window.location = '../dashboard';
    })

    $(document).on('click','.ban_nd',function(){
      var idnd = $(this).attr('id');
      // alert(idnd);
      if(confirm('Bạn có chắc muốn chặn người dùng'))
      {
        $.get('../ajax_admin/ban_chitiet/'+idnd,function(){

        })
        alert('Đã chặn người dùng');
        window.location.reload(false);
      }
    });

    $(document).on('click','.goban_nd',function(){
      var idnd = $(this).attr('id');
      // alert(idnd);
      if(confirm('Bạn có chắc muốn bỏ chặn người dùng'))
      {
        $.get('../ajax_admin/goban_chitiet/'+idnd,function(){

        })
        alert('Đã bỏ chặn người dùng');
        window.location.reload(false);
      }
    });
    //test
    $(function(){
        var anime = $('#anime').val();
        var history = $('#history').val();
        var music = $('#music').val();
        var test = parseFloat(anime);
        var test1 = parseFloat(history);
        var test3 = parseFloat(music);
  $("#doughnutChart").drawDoughnutChart([
    { title: "Anime",         value : test,  color: "#2C3E50" },
    { title: "History", value:  test1,   color: "#FC4349" },
    { title: "Music",      value:  test3,   color: "#6DBCDB" },
  ]);
});

;(function($, undefined) {
  $.fn.drawDoughnutChart = function(data, options) {
    var $this = this,
      W = $this.width(),
      H = $this.height(),
      centerX = W/2,
      centerY = H/2,
      cos = Math.cos,
      sin = Math.sin,
      PI = Math.PI,
      settings = $.extend({
        segmentShowStroke : true,
        segmentStrokeColor : "#0C1013",
        segmentStrokeWidth : 1,
        baseColor: "rgba(0,0,0,0.5)",
        baseOffset: 4,
        edgeOffset : 10,//offset from edge of $this
        percentageInnerCutout : 75,
        animation : true,
        animationSteps : 90,
        animationEasing : "easeInOutExpo",
        animateRotate : true,
        tipOffsetX: -8,
        tipOffsetY: -45,
        tipClass: "doughnutTip",
        summaryClass: "doughnutSummary",
        summaryTitle: "TOTAL:",
        summaryTitleClass: "doughnutSummaryTitle",
        summaryNumberClass: "doughnutSummaryNumber",
        beforeDraw: function() {  },
        afterDrawed : function() {  },
        onPathEnter : function(e,data) {  },
        onPathLeave : function(e,data) {  }
      }, options),
      animationOptions = {
        linear : function (t) {
          return t;
        },
        easeInOutExpo: function (t) {
          var v = t<.5 ? 8*t*t*t*t : 1-8*(--t)*t*t*t;
          return (v>1) ? 1 : v;
        }
      },
      requestAnimFrame = function() {
        return window.requestAnimationFrame ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.oRequestAnimationFrame ||
          window.msRequestAnimationFrame ||
          function(callback) {
            window.setTimeout(callback, 1000 / 60);
          };
      }();

    settings.beforeDraw.call($this);

    var $svg = $('<svg width="' + W + '" height="' + H + '" viewBox="0 0 ' + W + ' ' + H + '" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>').appendTo($this),
        $paths = [],
        easingFunction = animationOptions[settings.animationEasing],
        doughnutRadius = Min([H / 2,W / 2]) - settings.edgeOffset,
        cutoutRadius = doughnutRadius * (settings.percentageInnerCutout / 100),
        segmentTotal = 0;

    //Draw base doughnut
    var baseDoughnutRadius = doughnutRadius + settings.baseOffset,
        baseCutoutRadius = cutoutRadius - settings.baseOffset;
    $(document.createElementNS('http://www.w3.org/2000/svg', 'path'))
      .attr({
        "d": getHollowCirclePath(baseDoughnutRadius, baseCutoutRadius),
        "fill": settings.baseColor
      })
      .appendTo($svg);

    //Set up pie segments wrapper
    var $pathGroup = $(document.createElementNS('http://www.w3.org/2000/svg', 'g'));
    $pathGroup.attr({opacity: 0}).appendTo($svg);

    //Set up tooltip
    var $tip = $('<div class="' + settings.tipClass + '" />').appendTo('body').hide(),
        tipW = $tip.width(),
        tipH = $tip.height();

    //Set up center text area
    var summarySize = (cutoutRadius - (doughnutRadius - cutoutRadius)) * 2,
        $summary = $('<div class="' + settings.summaryClass + '" />')
                   .appendTo($this)
                   .css({ 
                     width: summarySize + "px",
                     height: summarySize + "px",
                     "margin-left": -(summarySize / 2) + "px",
                     "margin-top": -(summarySize / 2) + "px"
                   });
    var $summaryTitle = $('<p class="' + settings.summaryTitleClass + '">' + settings.summaryTitle + '</p>').appendTo($summary);
    var $summaryNumber = $('<p class="' + settings.summaryNumberClass + '"></p>').appendTo($summary).css({opacity: 0});

    for (var i = 0, len = data.length; i < len; i++) {
      segmentTotal += data[i].value;
      $paths[i] = $(document.createElementNS('http://www.w3.org/2000/svg', 'path'))
        .attr({
          "stroke-width": settings.segmentStrokeWidth,
          "stroke": settings.segmentStrokeColor,
          "fill": data[i].color,
          "data-order": i
        })
        .appendTo($pathGroup)
        .on("mouseenter", pathMouseEnter)
        .on("mouseleave", pathMouseLeave)
        .on("mousemove", pathMouseMove);
    }

    //Animation start
    animationLoop(drawPieSegments);

    //Functions
    function getHollowCirclePath(doughnutRadius, cutoutRadius) {
        //Calculate values for the path.
        //We needn't calculate startRadius, segmentAngle and endRadius, because base doughnut doesn't animate.
        var startRadius = -1.570,// -Math.PI/2
            segmentAngle = 6.2831,// 1 * ((99.9999/100) * (PI*2)),
            endRadius = 4.7131,// startRadius + segmentAngle
            startX = centerX + cos(startRadius) * doughnutRadius,
            startY = centerY + sin(startRadius) * doughnutRadius,
            endX2 = centerX + cos(startRadius) * cutoutRadius,
            endY2 = centerY + sin(startRadius) * cutoutRadius,
            endX = centerX + cos(endRadius) * doughnutRadius,
            endY = centerY + sin(endRadius) * doughnutRadius,
            startX2 = centerX + cos(endRadius) * cutoutRadius,
            startY2 = centerY + sin(endRadius) * cutoutRadius;
        var cmd = [
          'M', startX, startY,
          'A', doughnutRadius, doughnutRadius, 0, 1, 1, endX, endY,//Draw outer circle
          'Z',//Close path
          'M', startX2, startY2,//Move pointer
          'A', cutoutRadius, cutoutRadius, 0, 1, 0, endX2, endY2,//Draw inner circle
          'Z'
        ];
        cmd = cmd.join(' ');
        return cmd;
    };
    function pathMouseEnter(e) {
      var order = $(this).data().order;
      $tip.text(data[order].title + ": " + data[order].value)
          .fadeIn(200);
      settings.onPathEnter.apply($(this),[e,data]);
    }
    function pathMouseLeave(e) {
      $tip.hide();
      settings.onPathLeave.apply($(this),[e,data]);
    }
    function pathMouseMove(e) {
      $tip.css({
        top: e.pageY + settings.tipOffsetY,
        left: e.pageX - $tip.width() / 2 + settings.tipOffsetX
      });
    }
    function drawPieSegments (animationDecimal) {
      var startRadius = -PI / 2,//-90 degree
          rotateAnimation = 1;
      if (settings.animation && settings.animateRotate) rotateAnimation = animationDecimal;//count up between0~1

      drawDoughnutText(animationDecimal, segmentTotal);

      $pathGroup.attr("opacity", animationDecimal);

      //If data have only one value, we draw hollow circle(#1).
      if (data.length === 1 && (4.7122 < (rotateAnimation * ((data[0].value / segmentTotal) * (PI * 2)) + startRadius))) {
        $paths[0].attr("d", getHollowCirclePath(doughnutRadius, cutoutRadius));
        return;
      }
      for (var i = 0, len = data.length; i < len; i++) {
        var segmentAngle = rotateAnimation * ((data[i].value / segmentTotal) * (PI * 2)),
            endRadius = startRadius + segmentAngle,
            largeArc = ((endRadius - startRadius) % (PI * 2)) > PI ? 1 : 0,
            startX = centerX + cos(startRadius) * doughnutRadius,
            startY = centerY + sin(startRadius) * doughnutRadius,
            endX2 = centerX + cos(startRadius) * cutoutRadius,
            endY2 = centerY + sin(startRadius) * cutoutRadius,
            endX = centerX + cos(endRadius) * doughnutRadius,
            endY = centerY + sin(endRadius) * doughnutRadius,
            startX2 = centerX + cos(endRadius) * cutoutRadius,
            startY2 = centerY + sin(endRadius) * cutoutRadius;
        var cmd = [
          'M', startX, startY,//Move pointer
          'A', doughnutRadius, doughnutRadius, 0, largeArc, 1, endX, endY,//Draw outer arc path
          'L', startX2, startY2,//Draw line path(this line connects outer and innner arc paths)
          'A', cutoutRadius, cutoutRadius, 0, largeArc, 0, endX2, endY2,//Draw inner arc path
          'Z'//Cloth path
        ];
        $paths[i].attr("d", cmd.join(' '));
        startRadius += segmentAngle;
      }
    }
    function drawDoughnutText(animationDecimal, segmentTotal) {
      $summaryNumber
        .css({opacity: animationDecimal})
        .text((segmentTotal * animationDecimal).toFixed(1));
    }
    function animateFrame(cnt, drawData) {
      var easeAdjustedAnimationPercent =(settings.animation)? CapValue(easingFunction(cnt), null, 0) : 1;
      drawData(easeAdjustedAnimationPercent);
    }
    function animationLoop(drawData) {
      var animFrameAmount = (settings.animation)? 1 / CapValue(settings.animationSteps, Number.MAX_VALUE, 1) : 1,
          cnt =(settings.animation)? 0 : 1;
      requestAnimFrame(function() {
          cnt += animFrameAmount;
          animateFrame(cnt, drawData);
          if (cnt <= 1) {
            requestAnimFrame(arguments.callee);
          } else {
            settings.afterDrawed.call($this);
          }
      });
    }
    function Max(arr) {
      return Math.max.apply(null, arr);
    }
    function Min(arr) {
      return Math.min.apply(null, arr);
    }
    function isNumber(n) {
      return !isNaN(parseFloat(n)) && isFinite(n);
    }
    function CapValue(valueToCap, maxValue, minValue) {
      if (isNumber(maxValue) && valueToCap > maxValue) return maxValue;
      if (isNumber(minValue) && valueToCap < minValue) return minValue;
      return valueToCap;
    }
    return $this;
  };
})(jQuery);


//test pie chart
  var baidang = parseInt($('#baidang').val());
  var luotvote = parseInt($('#luotvote').val());
  var luotcmt = parseInt($('#luotcmt').val());
  var folow = parseInt($('#folow').val());
  var rp_bv = parseInt($('#rp_bv').val());
  var birp = parseInt($('#birp').val())

$(function(){
  
   
  $("#pieChart").drawPieChart([
    { title: "Đăng bài",              value :baidang,  color: "#2C3E50" },
    { title: "Vote",    value:  luotvote,   color: "#fe4400" },
    { title: "Bình luận",          value:  luotcmt,   color: "#018ab6" },
    { title: "Theo dõi", value : folow,   color: "#fff100" },
    { title: "Bị báo cáo bài đăng",      value : rp_bv,   color: "#D7DADB" },
    { title: "Bị báo cáo người dùng",      value : birp,   color: "#ff33cc" }
  ]);
});

;(function($, undefined) {
  $.fn.drawPieChart = function(data, options) {
    var $this = this,
      W = $this.width(),
      H = $this.height(),
      centerX = W/2,
      centerY = H/2,
      cos = Math.cos,
      sin = Math.sin,
      PI = Math.PI,
      settings = $.extend({
        segmentShowStroke : true,
        segmentStrokeColor : "#fff",
        segmentStrokeWidth : 1,
        baseColor: "#fff",
        baseOffset: 15,
        edgeOffset: 30,//offset from edge of $this
        pieSegmentGroupClass: "pieSegmentGroup",
        pieSegmentClass: "pieSegment",
        lightPiesOffset: 12,//lighten pie's width
        lightPiesOpacity: .3,//lighten pie's default opacity
        lightPieClass: "lightPie",
        animation : true,
        animationSteps : 90,
        animationEasing : "easeInOutExpo",
        tipOffsetX: -15,
        tipOffsetY: -45,
        tipClass: "pieTip",
        beforeDraw: function(){  },
        afterDrawed : function(){  },
        onPieMouseenter : function(e,data){  },
        onPieMouseleave : function(e,data){  },
        onPieClick : function(e,data){  }
      }, options),
      animationOptions = {
        linear : function (t){
          return t;
        },
        easeInOutExpo: function (t) {
          var v = t<.5 ? 8*t*t*t*t : 1-8*(--t)*t*t*t;
          return (v>1) ? 1 : v;
        }
      },
      requestAnimFrame = function(){
        return window.requestAnimationFrame ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.oRequestAnimationFrame ||
          window.msRequestAnimationFrame ||
          function(callback) {
            window.setTimeout(callback, 1000 / 60);
          };
      }();

    var $wrapper = $('<svg width="' + W + '" height="' + H + '" viewBox="0 0 ' + W + ' ' + H + '" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>').appendTo($this);
    var $groups = [],
        $pies = [],
        $lightPies = [],
        easingFunction = animationOptions[settings.animationEasing],
        pieRadius = Min([H/2,W/2]) - settings.edgeOffset,
        segmentTotal = 0;

    //Draw base circle
    var drawBasePie = function(){
      var base = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
      var $base = $(base).appendTo($wrapper);
      base.setAttribute("cx", centerX);
      base.setAttribute("cy", centerY);
      base.setAttribute("r", pieRadius+settings.baseOffset);
      base.setAttribute("fill", settings.baseColor);
    }();

    //Set up pie segments wrapper
    var pathGroup = document.createElementNS('http://www.w3.org/2000/svg', 'g');
    var $pathGroup = $(pathGroup).appendTo($wrapper);
    $pathGroup[0].setAttribute("opacity",0);

    //Set up tooltip
    var $tip = $('<div class="' + settings.tipClass + '" />').appendTo('body').hide(),
      tipW = $tip.width(),
      tipH = $tip.height();

    for (var i = 0, len = data.length; i < len; i++){
      segmentTotal += data[i].value;
      var g = document.createElementNS('http://www.w3.org/2000/svg', 'g');
      g.setAttribute("data-order", i);
      g.setAttribute("class", settings.pieSegmentGroupClass);
      $groups[i] = $(g).appendTo($pathGroup);
      $groups[i]
        .on("mouseenter", pathMouseEnter)
        .on("mouseleave", pathMouseLeave)
        .on("mousemove", pathMouseMove)
        .on("click", pathClick);

      var p = document.createElementNS('http://www.w3.org/2000/svg', 'path');
      p.setAttribute("stroke-width", settings.segmentStrokeWidth);
      p.setAttribute("stroke", settings.segmentStrokeColor);
      p.setAttribute("stroke-miterlimit", 2);
      p.setAttribute("fill", data[i].color);
      p.setAttribute("class", settings.pieSegmentClass);
      $pies[i] = $(p).appendTo($groups[i]);

      var lp = document.createElementNS('http://www.w3.org/2000/svg', 'path');
      lp.setAttribute("stroke-width", settings.segmentStrokeWidth);
      lp.setAttribute("stroke", settings.segmentStrokeColor);
      lp.setAttribute("stroke-miterlimit", 2);
      lp.setAttribute("fill", data[i].color);
      lp.setAttribute("opacity", settings.lightPiesOpacity);
      lp.setAttribute("class", settings.lightPieClass);
      $lightPies[i] = $(lp).appendTo($groups[i]);
    }

    settings.beforeDraw.call($this);
    //Animation start
    triggerAnimation();

    function pathMouseEnter(e){
      var index = $(this).data().order;
      $tip.text(data[index].title + ": " + data[index].value).fadeIn(200);
      if ($groups[index][0].getAttribute("data-active") !== "active"){
        $lightPies[index].animate({opacity: .8}, 180);
      }
      settings.onPieMouseenter.apply($(this),[e,data]);
    }
    function pathMouseLeave(e){
      var index = $(this).data().order;
      $tip.hide();
      if ($groups[index][0].getAttribute("data-active") !== "active"){
        $lightPies[index].animate({opacity: settings.lightPiesOpacity}, 100);
      }
      settings.onPieMouseleave.apply($(this),[e,data]);
    }
    function pathMouseMove(e){
      $tip.css({
        top: e.pageY + settings.tipOffsetY,
        left: e.pageX - $tip.width() / 2 + settings.tipOffsetX
      });
    }
    function pathClick(e){
      var index = $(this).data().order;
      var targetGroup = $groups[index][0];
      for (var i = 0, len = data.length; i < len; i++){
        if (i === index) continue;
        $groups[i][0].setAttribute("data-active","");
        $lightPies[i].css({opacity: settings.lightPiesOpacity});
      }
      if (targetGroup.getAttribute("data-active") === "active"){
        targetGroup.setAttribute("data-active","");
        $lightPies[index].css({opacity: .8});
      } else {
        targetGroup.setAttribute("data-active","active");
        $lightPies[index].css({opacity: 1});
      }
      settings.onPieClick.apply($(this),[e,data]);
    }
    function drawPieSegments (animationDecimal){
      var startRadius = -PI/2,//-90 degree
          rotateAnimation = 1;
      if (settings.animation) {
        rotateAnimation = animationDecimal;//count up between0~1
      }

      $pathGroup[0].setAttribute("opacity",animationDecimal);

      //draw each path
      for (var i = 0, len = data.length; i < len; i++){
        var segmentAngle = rotateAnimation * ((data[i].value/segmentTotal) * (PI*2)),//start radian
            endRadius = startRadius + segmentAngle,
            largeArc = ((endRadius - startRadius) % (PI * 2)) > PI ? 1 : 0,
            startX = centerX + cos(startRadius) * pieRadius,
            startY = centerY + sin(startRadius) * pieRadius,
            endX = centerX + cos(endRadius) * pieRadius,
            endY = centerY + sin(endRadius) * pieRadius,
            startX2 = centerX + cos(startRadius) * (pieRadius + settings.lightPiesOffset),
            startY2 = centerY + sin(startRadius) * (pieRadius + settings.lightPiesOffset),
            endX2 = centerX + cos(endRadius) * (pieRadius + settings.lightPiesOffset),
            endY2 = centerY + sin(endRadius) * (pieRadius + settings.lightPiesOffset);
        var cmd = [
          'M', startX, startY,//Move pointer
          'A', pieRadius, pieRadius, 0, largeArc, 1, endX, endY,//Draw outer arc path
          'L', centerX, centerY,//Draw line to the center.
          'Z'//Cloth path
        ];
        var cmd2 = [
          'M', startX2, startY2,
          'A', pieRadius + settings.lightPiesOffset, pieRadius + settings.lightPiesOffset, 0, largeArc, 1, endX2, endY2,//Draw outer arc path
          'L', centerX, centerY,
          'Z'
        ];
        $pies[i][0].setAttribute("d",cmd.join(' '));
        $lightPies[i][0].setAttribute("d", cmd2.join(' '));
        startRadius += segmentAngle;
      }
    }

    var animFrameAmount = (settings.animation)? 1/settings.animationSteps : 1,//if settings.animationSteps is 10, animFrameAmount is 0.1
        animCount =(settings.animation)? 0 : 1;
    function triggerAnimation(){
      if (settings.animation) {
        requestAnimFrame(animationLoop);
      } else {
        drawPieSegments(1);
      }
    }
    function animationLoop(){
      animCount += animFrameAmount;//animCount start from 0, after "settings.animationSteps"-times executed, animCount reaches 1.
      drawPieSegments(easingFunction(animCount));
      if (animCount < 1){
        requestAnimFrame(arguments.callee);
      } else {
        settings.afterDrawed.call($this);
      }
    }
    function Max(arr){
      return Math.max.apply(null, arr);
    }
    function Min(arr){
      return Math.min.apply(null, arr);
    }
    return $this;
  };
})(jQuery);
    </script>
</html>